 <!-- Footer -->
   <footer class="py-5 bg-success" id="lab_social_icon_footer" class="py-5 bg-yellow">
   <!-- /.container -->
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    

    <div   class="text-center center-block">
      <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
    </div>  
    <!-- /.container -->
  </footer>


 {% comment %} <section  >
  <div class="text-center center-block">
    <span class="copyright"> <small> Copyright &copy; Triumphant Triumphs 2019 </small> </span>
  </div>
  <div   class="container">
    <div class="text-center center-block">
      <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      
    </div>
  </div>  
</section>  {% endcomment %}
