{% load template_tag_file %}  
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <a class="navbar-brand" href="{% url 'literature:works_list' %}">Book Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Account</a>  
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'cart:complete_order_list' %}">
        {{ request.user|cart_item_count }}
        <i class="fas fa-shopping-cart"></i>
      </a>

      </li>
      {% else %}  
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
      </li>
      {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown09">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>

      {% comment %} <form action="{% url 'search' %}" method="get">
        <input type="text" name="q">
        <button type="search">Search</button>
      </form>   {% endcomment %}
      
      {% comment %} <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
      </form> {% endcomment %}
      
    </div>
  </nav>
