{% extends "base.html" %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item " aria-current="page">
      <a href="{% url 'literature:works_list' %}">Works list</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{work.title}}</li>  
    </ol>
    </nav>
  
{% endblock breadcrumb %}

{% block content %}
<div class="container">
  <div class="row">
  <main class="col-xs-12 col-sm-12 col-md-4">
  {% include "work_clip.html" with work=work %}  
  </main>

  <aside class="col-md-8">
    <div class="card text-center">
        <div class="card-header">
          Parts of a work
        </div>
        <ul class="list-group list-group-flush">
          {% for part in work.part_set.all %}
            <li class="list-group-item"><a href="{{part.get_absolute_url}}">
              {{ part.part_number }}.  {{ part.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>  
    </aside>
  </div>  
  {% endblock content %}

  